body {
    background-color: white;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#grid > textarea {
    resize: none;
    height: 150px;
}

.hidden {
    display: none;
}